extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Jasper Kim
        p.lead.text-light
          | Full Stack JavaScript Developer.
        .portfolio-bio
          p
            | Nice to meet you! I'm Jasper, web development enthusiast in both the front-end and back-end. I am passionate all about web dev and especially JavaScript ecosystem. 
            br
            br
            | There are always new technology trends I'm excited about. This is why I enjoy programming even more than my conventional engineering background. My journey in learning coding is ongoing. I love the moment that I tackle a coding challenge with my favorite tea through the weekends. Check out my latest projects at 
            a(href="https://github.com/jasper-kim" target="_blank" class="git-repo") github.com/jasper-kim.
            br
            br
            | I look forward to applying my previous work experience in engineering to a new career in tech.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li Node.js / npm
          li Express
          li JavaScript
          li jQuery
          li Bootstrap 
          li JSON /AJAX
          li Git / GitHub
          li Pug.js
          li HTML
          li CSS
        h6 Contact Info
        ul
          li 604-351-2928
          li jasthecoder@gmail.com
        a.button.expanded(href='https://www.linkedin.com/in/jasper-kim/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/jasper-kim', target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/jasthecoder', target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  